/*

New Event

http://www.templatemo.com/tm-486-new-event

*/

body {
		background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
		font-weight: 400;
}

/*---------------------------------------
    Margin 
-----------------------------------------*/
.tml {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 2%;
    background-color: rgba(221, 221, 221, 0.8);
    max-height: 100%;
    overflow-y: auto;    
    max-width: 413px;
}

@media(min-width:768px) {
    .tml {
        max-height: 80%;
    }
}

.entry-title {
    text-align: center;
}

#content {
    /*margin-top: 5em;*/
}

.col-full {
    padding: 0;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #707070;
    font-size: 14px;
    line-height: 24px;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General               
-----------------------------------------*/
.section-title {
  margin-bottom: 32px;
}

#overview,
#register {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

#detail, #video,
#program,
#sponsors, 
#contact, footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#detail,
#products, #sponsors,
footer {
  text-align: center;
}

#overview h3,
#detail h3, #video h3,
#register h3,
#venue h3,
#contact h3 {
    padding-bottom: 12px;
}

#intro .btn,
#reservation .btn,
#product-intro .btn,
#checkoutpopupform .btn,
#contact .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#reservation .btn-danger,
#intro .btn-danger,
#product-intro  .btn-danger,
#checkoutpopupform .btn-danger,
#contact .btn-danger {
    background: #613143;
    border-color: transparent;
}

#contact .btn {
  border-radius: 100px;
}

#reservation .btn-danger:hover,
#intro .btn-danger:hover ,
#modal-footer .btn-danger:hover ,
#product-intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .btn-danger:hover {
  background: #222;
}

#intro .btn-default:hover ,
#product-intro .btn-danger:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}



/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #222;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #101010;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    color: #ddd;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li .subnavContainer {    
    flex: 0 0 100%;
    width: 150px;
    color: black;
    padding: 4px 4px;
    z-index: 2;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
}
.custom-navbar .nav li .subnav:hover {
    background-color: hsla(0, 0%, 0%, 0.03);
}

.custom-navbar .nav li .subnav {
    cursor: pointer;
    display: block;
    padding-top: 5px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    text-decoration: none;
    line-height: 20px;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #e9dccd;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #e9dccd;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: white;
        padding: 0;
    }
    
    .custom-navbar.top-nav-collapse .nav li a {
        color : black;
    }
    .custom-navbar.top-nav-collapse .site-logo svg {
        fill: black;
    }
}



/*---------------------------------------
    Intro section              
    background: url('../images/testhomepage/intro-bg.jpg') 50% 0 repeat-y fixed;
-----------------------------------------*/
#intro {
    
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    text-align: center;
        overflow: hidden;
    max-width: 100%;
    position: relative;
}

#intro h3 {
  letter-spacing: 2px;
}



/*---------------------------------------
   Overview  section              
-----------------------------------------*/
#overview img {
  position: relative;
  padding-bottom: 32px;
}



/*---------------------------------------
    Detail section              
-----------------------------------------*/
#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
  color: #f2545f;
  font-size: 48px;
}



/*---------------------------------------
    Video section              
-----------------------------------------*/
#video iframe {
  border: none;
}



/*---------------------------------------
   Products section              
-----------------------------------------*/

#products.products-image-homepage {
    height: 500px;
}

#products {
    width: 100%;
    height: auto;
    position: relative;
    background: white;
}

#products h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#products h6 {
  color: #666;
  margin-top: 4px;
}

#products img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#products .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#products .products-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}

#products .items-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
 #products .items-container {
    height: 50%;

    }   
    #products .linkWrapper {
        width:  50%;
    }

}

#products .linkWrapper {
    left: 0%;
    width: 25%;
    color: white;
    top: 0;
    height: 100%;
    display: block;    
    transition: all .25s ease;
    text-decoration: none;
}

#products .linkWrapper:hover {
    width: 40%;
}

#products .parallaxWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#products .parallax-content .wrapper .label {
    font-size: 24px;
    margin-top: 36px;
    font-weight: 400;
    letter-spacing: 0.025em;
}
    
#products .parallax-background.backgroundContainer {
    width:100%;
    height:100%;
}

#products .parallax-background .parallax-realcontainer {
    width:100%;
    height:100%;
}



#products .parallaxWrapper .parallax-background-children{
    transform: translate3d(-50%, -11.9363px, 0px);
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

#products .parallax-content {
    position: absolute;
    top: 46%;
    right: 0;
    width: 100%;
    height: 100%;    
}

@media (max-width: 768px) {
 #products .items-container {
    height: 50%;

    }   
    #products .linkWrapper {
        width:  50%;
    }

}
/*---------------------------------------
   Program section              
-----------------------------------------*/
#program h4 {
    color: #808080;
    font-size: 12px;
}

#program h3 {
  margin-top: 16px;
}

#program .program-divider {
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
}

#program span {
    padding-right: 12px;
}

#program img {
  border-radius: 50%;
}

.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #999;
}
.tab-content {
  padding-top: 20px;
}

/*-----------------------------------
    Workshop section
-----------------------------------
#workshop-items {
    display: flex;
    justify-content: center;
}*/

#workshop .frame { width: 100%; }
#workshop .frame .slidee {  height: 100%; list-style: none; display:flex; margin:0;}
#workshop .frame .slidee li { min-width: 360px; margin-right:1.5em; margin-left:1.5em; }
#workshop .scrollbar {    margin: 0 0 1em 0;    height: 2px;    background: #ccc;    line-height: 0;}
#workshop .scrollbar .handle .mousearea {  position: absolute;    top: -2px;    left: 0;    width: 100%;    height: 5px;  background-color: black }
#workshop .bg-white {   background-color: #fff; }
#workshop .pages {     list-style: none;     margin: 20px 0;    padding: 0;     text-align: center; }
#workshop .pages li {      display: inline-block;    width: 14px;     height: 14px;     margin: 0 4px;     text-indent: -999px;    border-radius: 10px;     cursor: pointer;   overflow: hidden;   background: #fff;    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2); }
#workshop .pages li.active {      background: #666; }
#workshop .pages li:hover {    background: #aaa; }

#workshop .small {
  font-size: 0.75rem;
}
#workshop .card-heading {
  font-size: 2.25rem;
}
#workshop .styled-link {
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
#workshop .styled-link:hover,
#workshop.styled-link:focus,
#workshop .styled-link:active {
  color: #536dfe;
}
#workshop .shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
#workshop .blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
#workshop .blue-hover:hover {
  transform: translateY(-5px);  
  border: none;
  border-bottom: 5px solid #2196fe;
}
#workshop .clearfix::before,
#workshop .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
#workshop .float-left {
  float: left;
}
#workshop .float-right{
  float: right;
}

/**Margin and padding utilities*/
#workshop .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
#workshop .ml-auto {
  margin-left: auto;
}
#workshop .mr-auto {
  margin-right: auto;
}
#workshop .mx-0 {
  margin-left: 0;
  margin-right: 0;
}
#workshop .mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
#workshop .mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
#workshop .mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}


#workshop .my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
#workshop .my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#workshop .my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#workshop .my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#workshop .mt-0 {
  margin-top: 0;
}
#workshop .mt-1 {
  margin-top: 1rem;
}
#workshop .mt-2 {
  margin-top: 2rem;
}
#workshop .mt-3 {
  margin-top: 3rem;
}

#workshop .mb-0 {
  margin-bottom: 0;
}
#workshop .mb-1 {
  margin-bottom: 1rem;
}
#workshop .mb-2 {
  margin-bottom: 2rem;
}
#workshop .mb-3 {
  margin-bottom: 3rem;
}

#workshop .ml-0 {
  margin-left: 0;
}
#workshop .ml-1 {
  margin-left: 1rem;
}
#workshop .ml-2 {
  margin-left: 2rem;
}
#workshop .ml-3 {
  margin-left: 3rem;
}


#workshop .px-0 {
  padding-left: 0;
  padding-right: 0;
}
#workshop .px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
#workshop .px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
#workshop .px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}


#workshop .py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
#workshop .py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#workshop .py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#workshop .py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#workshop .pt-0 {
  padding-top: 0;
}
#workshop .pt-1 {
  padding-top: 1rem;
}
#workshop .pt-2 {
  padding-top: 2rem;
}
#workshop .pt-3 {
  padding-top: 3rem;
}

#workshop .pb-0 {
  padding-bottom: 0;
}
#workshop .pb-1 {
  padding-bottom: 1rem;
}
#workshop .pb-2 {
  padding-bottom: 2rem;
}
#workshop .pb-3 {
  padding-bottom: 3rem;
}


#materials {
    background: url('../images/testhomepage/venue-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#materials ul , 
.featherlight ul
{
    list-style: none;
}
.featherlight  .btn:hover ,
.featherlight  .btn.active ,
#materials .btn:hover { 
  background: #ffffff;
  color: #222;
}

.list-materials {
    display: flex;
    justify-content: center;    
}

.featherlight  .btn,
#materials .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;    
}

.featherlight[target="Wool"] {
    background: url(../images/testhomepage/contact-bg.jpg) 50% 0 repeat-y fixed;
}

.featherlight[target="Silk"] {
    background: url(../images/testhomepage/intro-bg.jpg) 50% 0 repeat-y fixed;
}

.featherlight .featherlight-content {
    min-width: 300px;
    max-width: 768px;
    min-height: 326px;
    border-bottom: 0 none;
    padding: calc(7.14286vw + -7.85714px);
    padding: 0;
    border: none;
    min-width: inherit;
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #fff;
    cursor: auto;
    white-space: normal;
}

.featherlight .chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.featherlight .chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

/*---------------------------------------
    Regsiter section              
-----------------------------------------*/
#register {
    background: url('../images/testhomepage/register-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

#register .form-control {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

#register input {
  height: 45px;
}

input[type="submit"] {
  background: #f2545f;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

input[type="submit"]:hover {
  background: #ffffff;
  color: #222;
}



/*---------------------------------------
   Faq section              
-----------------------------------------*/
#faq {
  background: #f9f9f9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#faq .panel-group {
  margin-top: 32px;
}

#faq .panel-group .panel {
  margin-bottom: 8px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  background: #f0f0f0;
  color: #505050;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}



/*---------------------------------------
   Venue section              
-----------------------------------------*/
#venue {
    background: url('../images/testhomepage/venue-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#venue p {
  padding-top: 12px;
  padding-bottom: 18px;
}



/*---------------------------------------
   Sponsors section              
-----------------------------------------*/
#sponsors img {
  margin-top: 18px;
}



/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact {
    background: url('../images/testhomepage/contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}

#contact .contact_des {
  padding-top: 3rem;
  padding-right: 2rem;
}

#contact .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #999;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #f2545f;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
  background-attachment: fixed;
}



/* Back top */
.go-top {
  background-color: #222;
  bottom: 6em;
  right: 18pt;
  z-index: 100;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #f2545f;
    color: #ffffff;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #f2545f;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles            
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 13px;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
	line-height: 20px;
  }

  #intro { height: 65vh; }

  #video iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
  }

  #overview img,
  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }

  #program img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
  }

  #contact .contact_detail {
    margin-top: 82px;
  }

}

@media (max-width: 760px) {

  #intro {
    height: 100vh;
  }

}

